<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102076675022-m69bmaccmg96qvtpk8bp87dqhvfcqagj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102076675022-m69bmaccmg96qvtpk8bp87dqhvfcqagj</string>
	<key>API_KEY</key>
	<string>AIzaSyDdEXVYHJpz8bwWUyKUmgdodFLgR0gDpTs</string>
	<key>GCM_SENDER_ID</key>
	<string>102076675022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestoreflutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-1da36</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-1da36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102076675022:ios:564c5f087076b930ccf19f</string>
</dict>
</plist>